
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MVC5 ile Online Ticari Otomasyon</title>
    <link href="~/web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    

</head>
<body>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Commercial Automation </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <br />
            <br />
            <i class="fas fa-bars"></i>
            <br />
            <br />
            <br />
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                
                <div class="input-group-append">
                    
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @*<a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Your Profile</a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/CustomerPanel/LogOut/">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/Category/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Categories
                        </a>

                        <a class="nav-link" href="/Product/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-briefcase"></i></div>
                            Products
                        </a>

                        <a class="nav-link" href="/ToDoList/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            To DO List & Graphic
                        </a>

                        <a class="nav-link" href="/Department/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                            Departments
                        </a>

                        <a class="nav-link" href="/Customer/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Customers
                        </a>

                        <a class="nav-link" href="/Employee/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-street-view"></i></div>
                            Employees
                        </a>

                        <a class="nav-link" href="/Employee/EmployeeList/">
                            <div class="sb-nav-link-icon"><i class="fas  fa-users"></i></div>
                            Employees Detail
                        </a>


                        @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
                                Admin
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authorization
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Sign Up</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                    </div>

                                </nav>
                            </div>*@
                        <div class="sb-sidenav-menu-heading"> Report & Bills </div>
                        <a class="nav-link" href="/Sale/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-fighter-jet"></i></div>
                            Sales
                        </a>
                        <a class="nav-link" href="/Bill/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                            Bills
                        </a>
                        <a class="nav-link" href="/Bill/Dynamic/">
                            <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                            Dynamic Bills
                        </a>
                        @*<a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
                                Expense
                            </a>*@
                        <a class="nav-link" href="/Cargo/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                            Cargo
                        </a>
                        <a class="nav-link" href="/Product/ProductPrint/">
                            <div class="sb-nav-link-icon"><i class="fas fa-print"></i></div>
                            Pdf & Excel
                        </a>
                        <a class="nav-link" href="/Alerts/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Alerts
                        </a>
                        <a class="nav-link" href="/Statistics/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-signal"></i></div>
                            Statistics
                        </a>
                        <a class="nav-link" href="/Statistics/SimpleTable/">
                            <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                            Simple Tables
                        </a>
                        <a class="nav-link" href="/Visual/Index/">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                            Photo Gallery
                        </a>
                        @*<a class="nav-link" href="/DetailProduct/Index/">
                                <div class="sb-nav-link-icon"><i class="fas fa-eye"></i></div>
                                Product Detail
                            </a>*@


                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/web/dist/js/scripts.js"></script>
</body>
</html>
