@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Messages>

@foreach (var x in Model)
{
    <div class="timeline timeline-inverse">
        <!-- timeline time label -->
        <div class="time-label">
            <span class="bg-warning">
                @x.Date.ToShortDateString()
            </span>
        </div>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <div>
            <i class="fas fa-envelope bg-primary"></i>
            <div class="timeline-item">
                <h3 class="timeline-header"><a href="#">@x.Subject</a></h3>
                <div class="timeline-body">
                    @x.Content
                </div>
            </div>
        </div>
    </div>
}
