<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>New Cutomer</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CustomerName" Placeholder=" Name " required="" />
                <input type="text" class="name" name="CustomerSurname" Placeholder=" Surname " required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder=" City " required="" />
                <input type="text" class="mail" name="CustomerMail" Placeholder=" Mail " required="" />
                <input type="password" class="password" name="CustomerPassword" Placeholder=" Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Read the rules &amp; I Accept </label>
                </div>
                <input type="submit" value="SignUp">
            </form>
        </div>
    </div>
</div>
