@model MvcOnlineTicariOtomasyon.Models.Classes.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>

<br />
<h2>New Category</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CategoryName)
    <br />
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="btn1"> Save </button>
    <script>
        $('#btn1').click(function () {
            alert("Category Added Successfully")
        });
    </script>
</form>
