@model MvcOnlineTicariOtomasyon.Models.Classes.Category
@{
    ViewBag.Title = "CateBring";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Category Update</h2>
<br /> 

@using (Html.BeginForm("CateUpdate", "Category", FormMethod.Post)) //bu sayfa yüklendikten sonra bir post
                                                                  //işlemi gerçekleştiğine hangi action resoult çalışacağını
                                                                  //belirlemek için.
{
    <div class="form-group">
        @Html.LabelFor(x  => x.CategoryName)   
        @Html.TextBoxFor(x  => x.CategoryName, new {@class ="form-control"}) 
        @Html.HiddenFor(x=> x.CategoryID)
    </div>
   
    <button class="btn btn-warning"> Update </button>
}

