@model MvcOnlineTicariOtomasyon.Models.Classes.ClassCascading
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(function () {
        $('#DrpCategory').change(function () {
            var id = $('#DrpCategory').val();
            $.ajax({
                url: '/Category/ProductList',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#DrpProduct').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#DrpProduct').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    }
                }
            });
        });
    });
</script>


<br />
<div>
    <h2>Categories - Products </h2>
</div>
<br />
<div>
    @Html.Label("Category")
    @Html.DropDownList("DrpCategory", Model.Category, "---Please Choose Category---", new { @class = "form-control" })
    <br />
    @Html.Label("Prodct")
    @Html.DropDownList("DrpProduct", Model.Product, "---Please Choose Product---", new { @class = "form-control" })
</div>


