@using MvcOnlineTicariOtomasyon.Models.Classes;
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th> ID </th>
        <th> Category Name </th>
        <th> Delete </th>
        <th> Update </th>

    </tr>
    @foreach (var c in Model)
    {
        //veri sıralama döngüsü.
        //bir döngü oluşturdum. bu döngü c adında bir değişken içeriyor. c modele bağlı ,
        //model kategoriye bağlı ,kategori de controller tarafındaki methoda bağlı

        <tr>
            <td>
                @c.CategoryID
            </td>
            <td>
                @c.CategoryName
            </td>
            <td> <a href="/Category/CateDelete/@c.CategoryID" class="btn btn-danger"> Delete </a></td>
            <td> <a href="/Category/CateBring/@c.CategoryID" class="btn btn-success"> Update </a></td>
        </tr>
    }
</table>
<a href="/Category/CategoryAdd" class="btn btn-primary"> Add Category  </a>