
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<br />
<br />
<a href="/Graphic/Index5/" class="btn btn-info " style="color:white"> Pie Graphic </a>
<br />
<br />
<a href="/Graphic/Index6/" class="btn btn-info " style="color:white"> Line Graphic </a>
<br />
<br />
<a href="/Graphic/Index7/" class="btn btn-info " style="color:white"> Column Graphic </a>
<br />
<br />
<a href="/ToDoList/Index/" class="btn btn-info " style="color:white"> Column Graphic </a>
<br />
<br />
