@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Classes.ClassGroup3>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Product Brand Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Brand</th>
                    <th>Progress </th>
                    <th style="width: 40px">Percent</th>
                </tr>
            </thead>
            <tbody>
                @{ int no = 0; decimal value3; int Count = ViewBag.v3;}
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@{no++;} @no</td>
                        <td>@x.brand (@x.Count)</td>
                        <td>
                            @{value3 = (x.Count * 100 / Count);}
                            @if (x.Count >= 1 && x.Count <= 3)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: @value3%"></div>
                                </div>
                            }
                            @if (x.Count >= 4 && x.Count <= 6)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: @value3%"></div>
                                </div>
                            }
                            @if (x.Count >= 7)
                            {
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: @value3%"></div>
                                </div>
                            }
                        </td>

                        <td><span class="badge bg-danger">%@value3</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
